{% extends "template.njk" %}

{% set pageTitle = "Home" %}

{% block pageTitle %}
{{pageTitle}} - Fretboard Scales
{% endblock %}

{% block content %}
<section>Scale Options</section>
<section>Fretboard</section>
{% endblock %}