{% extends "template.njk" %}

{% set pageTitle = "Settings" %}

{% block pageTitle %}
{{pageTitle}} - Fretboard Scales
{% endblock %}

{% block content %}
<section>
  <h2>Instrument Options</h2>
</section>
<section>
  <h2>Display Options</h2>
</section>
{% endblock %}